.homepage-container {
    min-height: 100vh;
    padding: 100px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homepage-container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #333;
}

.homepage-container p {
    font-size: 1.5rem;
    color: #666;
}